.header{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: url(./img/bg.jpg);
    background-size: 1366px 768px auto;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}
.img_pp{
    margin: 0 auto;
    padding: 20px;
    height: 25%;
    width: 25%;
    display: table;
}
.nama{
    display: table;
    color: white;
    margin: 0 auto;
    margin-bottom: 10px;
}
.status{
    display: table;
    margin: 0 auto;
    color: blue;
    font-family: calibri;
    font-size: 20px;
    margin-bottom: 20px;
}
.about{
    color: black;
    text-align: center;
}
.about_paragraph{
    color: black;
    text-align: justify;
    font-family: calibri;
    font-size: 20px;
}
